.Search {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.TextInput {
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  background-color: #eeeeee;
  border: none;
}

.SearchResultContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

@media only screen and (max-width: 700px) {
  .SearchResultContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.SearchResult {
  height: 3rem;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  padding: 0.5rem;
  cursor: pointer;
}

.selected {
  opacity: 50%;
}
